.form-container {
    display: flex;
    flex-direction: column;
}

.form-container .form-fields-row .form-field-container {
    display: flex;
    flex-direction: column;
}

.form-container .form-fields-row .form-field-container label {
    font-size: 20px;
    margin-bottom: 1vh;
}

.role-select {
    width: 13.2vw;
    height: 5vh;
    outline: none;
    border: 1px solid #A8AFB4;
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    padding: 0 10px;
}

.form-container .form-fields-row .form-field-container input {
    width: 20vw;
    height: 5vh;
    outline: none;
    border: 1px solid #A8AFB4;
    border-radius: 10px;
    padding: 0 15px;
}

.form-container .form-fields-row {
    display: flex;
    gap: 5vw;
    margin-bottom: 3vh;
}

.card-navigation-container .icon {
    width: 25px;
    height: 25px;
}
