.card {
    display: flex;
    flex-direction: column;
    padding: 1vh 3vw;
    background: #EFEFED;
}

.detail-card-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 66%;
}

.card-detail-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    width: 100%;
    padding: 5vh 0;
}


.card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-navigation-container {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.card-button {
    padding: 15px 35px;
    background: #2148C0;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.card-button:hover {
    cursor: pointer;
}

.card h2 {
    color: #252422;
}

.save-button {
    padding: 12px 35px;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    background: #2148C0;
    align-self: flex-end;
    border-radius: 10px;
}
